/* Improve scroll performance */
* {background-attachment: scroll !important}

h1, h2, h3, h4, h5, h6 {font-family: sans-serif}
dt {font-weight: bolder}

/* Redistribute content from left-hand margin */
.mediawiki #column-content, .mediawiki #content {
	float: none !important;
	margin-left: 0 !important;
}
.mediawiki #column-one {padding: 0 2em !important}
.mediawiki .portlet#p-cactions {left: 0.14em !important}
.mediawiki #left-navigation {left: 0 !important}
.mediawiki .portlet#p-navigation, .mediawiki .portlet#p-Navigation,
.mediawiki .portlet#p-search, .mediawiki .portlet#p-tb,
.mediawiki .portlet#p-lang,
.mediawiki #mw-panel {
    width: auto !important;
    position: static !important;
    padding-top: 0 !important;
}
.mediawiki .portlet .pBody, .mediawiki #mw-panel .body,
.mediawiki .portlet#p-navigation h5, .mediawiki .portlet#p-Navigation h5,
.mediawiki .portlet#p-search h5, .mediawiki .portlet#p-tb h5,
.mediawiki .portlet#p-lang h5,
.mediawiki #mw-panel h5,
.mediawiki .portlet#p-navigation ul, .mediawiki .portlet#p-Navigation ul,
.mediawiki .portlet#p-search ul, .mediawiki .portlet#p-tb ul,
.mediawiki .portlet#p-lang ul,
.mediawiki #mw-panel ul,
.mediawiki .portlet #searchform,
.mediawiki .portlet#p-navigation li, .mediawiki .portlet#p-Navigation li,
.mediawiki .portlet#p-search li, .mediawiki .portlet#p-tb li,
.mediawiki .portlet#p-lang li,
.mediawiki #mw-panel li {
    background: transparent !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    white-space: normal !important;
    display: inline !important;
}
.mediawiki #mw-head-base,
.mediawiki .portlet ul, .mediawiki #mw-panel .body,
.mediawiki #footer, .mediawiki #footer ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.mediawiki .portlet#p-navigation li:before,
.mediawiki .portlet#p-Navigation li:before,
.mediawiki .portlet#p-search li:before, .mediawiki .portlet#p-tb li:before,
.mediawiki .portlet#p-lang li:before,
.mediawiki .portlet #searchform:before,
.mediawiki #mw-panel li:before {content: "\2003"}
.mediawiki #p-logo {
    position: static !important;
    float: right !important;
}

/* Normal text was shrunk to 0.8 em */
.mediawiki #bodyContent {font-size: 1em !important}

/* Another version shrinks everything and then makes it larger again */
body.mediawiki, body.mediawiki #wikiContent {
    font-size: medium !important;
    
    /* "Inherit" does not work because MW also sets the font on the <html>
    element! */
    font-family: initial !important;
}
body.mediawiki #globalWrapper, body.mediawiki #mw_main
    {font-size: 100% !important}

.mediawiki a {text-decoration: underline !important}

@-moz-document url-prefix(https://wiki.archlinux.org/) {
    /* "Red links" not distinguished except perhaps with the default skin */
    .mediawiki a.new {color: green}
}

@-moz-document url-prefix(https://mail.google.com/mail/h) {
    body, td {font-family: inherit !important}
    
    /* Display left-hand margin across the top */
    body > table + table > tbody > tr > td {
        display: block;
        width: auto !important;
    }
    .m > tbody > tr {display: inline}
    .l br {display: none}
}

/* Pun BB */
.pun .postleft {float: none !important; width: auto !important}
.pun .postleft dl > dt, .pun .postleft dl > dd {display: inline}
.pun .postleft dl > dt:after, .pun .postleft dl > dd:after {content: "\2003"}
.pun .postleft .postavatar {float: right}
.pun .postleft .postavatar:after {content: normal}
.pun .postleft .usertitle {display: inline !important}
.pun .postright {border-left: 0 !important}

/* Sphinx */
body div.document div.documentwrapper div.bodywrapper div.body
    {font-family: initial}
